{{ define "content" }}

<style>
    a {
        text-decoration: none !important;
    }
</style>
<div class="container-fluid">

    <br>
    <div class="row">

        <div class="col-1"></div>
        <div class="col-10">
            <h1>Add item</h1>
            <form action="/additem" method="POST">
                <div class="form-group">
                    <label for="Name">Item Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Name" name="Name" required>
                </div>
                <div class="form-group">
                    <label for="Quantity">Quantity</label>
                    <input step="0.01" min="0" type="number" class="form-control" name="Quantity" id="Quantity"
                        value="1">
                    <small id="QuantityHelp" class="form-text text-muted">Set to 0 for N/A</small>
                </div>
                <div class="form-group">
                    <label for="Volume">Volume</label>
                    <input step="0.01" min="0" type="number" name="Volume" class="form-control" id="Volume" value="1">
                    <small id="QuantityHelp" class="form-text text-muted">Set to 0 for N/A</small>
                </div>
                <div class="form-group">
                    <label for="Volume">Volume Units</label>
                    <select class="form-control" name="VolumeUnits">
                        <option>fl. oz</option>
                        <option>cups</option>
                        <option>pints</option>
                        <option>quarts</option>
                        <option>gallons</option>
                        <option>litres</option>
                    </select>
                    <small id="VolumeUnitsHelp" class="form-text text-muted">Ignore if volume is N/A</small>
                </div>
                <div class="form-group">
                    <label for="Weight">Weight</label>
                    <input step="0.01" min="0" type="number" name="Weight" class="form-control" id="Weight" value="1">
                    <small id="WeightHelp" class="form-text text-muted">Set to 0 for N/A</small>
                </div>
                <div class="form-group">
                    <label for="Weight">Weight Units</label>
                    <select class="form-control" name="WeightUnits">
                        <option>grams</option>
                        <option>kilograms</option>
                        <option>lbs</option>
                    </select>
                    <small id="VolumeUnitsHelp" class="form-text text-muted">Ignore if weight is N/A</small>
                </div>
                <div class="form-group">
                    <label for="Expiration">Expiraiton Date</label>
                    <div class="input-group mb-3">
                        <input type="text" name="Expiration" id="Expiration" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        </div>

                    </div>


                </div>
                <div class="form-group">
                    <label for="Image">Image Link</label>
                    <input type="text" class="form-control" id="Image" value="Default" name="Image">
                    <small id="ImageHelp" class="form-text text-muted">Enter custom image link. Enter "Default" for
                        default image if applicable. Leave blank for no image.</small>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add item</button>
            </form>
            <br>
            <a href="/pantry" class="btn btn-primary" role="button">Back</a>
        </div>
    </div>
    <br>
    <br>

</div>

<script>
    $(document).ready(function () {
        $('#Expiration').datepicker({
            todayHighlight: true
        });
    });
</script>

{{end}}