{{ define "content" }}

<style>
    a {
        text-decoration: none !important;
    }
</style>
<div class="container-fluid">

    <br>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <h1>Edit User</h1>
        </div>
    </div>
    <div class="row">
        {{if .isMobile }}
        <div class="col-12">
            <form action="/edit_user" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address: {{.userobj.Email}}</label>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="Password" type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input name="City" type="text" class="form-control" id="city" value="{{.city}}" required>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select id="stateselect" name="State" class="form-control selectpicker" required>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="form-group" style="width: 100% !important">
                    <label for="restrictions">Dietary Restrictions</label>
                    <br>
                    <select style="width: 100% !important" id="restrictions" name="restrictions"
                        class="selectpicker form-control" data-live-search=" true" data-selected-text-format="count > 4"
                        multiple="multiple">
                        <option value="LI">Lactose Intolerance</option>
                        <option value="V">Vegetarian</option>
                        <option value="VG">Vegan</option>
                        <option value="P">Peanut Allergy</option>
                        <option value="S">Soybean Allergy</option>
                        <option value="GF">Gluten Free</option>
                        <option value="K">Kosher</option>
                        <option value="H">Halal</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" href="/" role="button">Back</a>
            </form>
        </div>
        {{else}}
        <div class="col-4">
        </div>
        <div class="col-4">
            <form action="/edit_user" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address: {{.userobj.Email}}</label>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="Password" type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input name="City" type="text" class="form-control" id="city" value="{{.city}}" required>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select id="stateselect" name="State" class="form-control selectpicker" required>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="form-group" style="width: 100% !important">
                    <label for="restrictions">Dietary Restrictions</label>
                    <br>
                    <select style="width: 100% !important" id="restrictions" name="restrictions"
                        class="selectpicker form-control" data-live-search=" true" data-selected-text-format="count > 4"
                        multiple="multiple">
                        <option value="LI">Lactose Intolerance</option>
                        <option value="V">Vegetarian</option>
                        <option value="VG">Vegan</option>
                        <option value="P">Peanut Allergy</option>
                        <option value="S">Soybean Allergy</option>
                        <option value="GF">Gluten Free</option>
                        <option value="K">Kosher</option>
                        <option value="H">Halal</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" href="/" role="button">Back</a>
            </form>
        </div>
        {{end}}
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");
        console.log("{{.restrictions}}");
        $('#stateselect').selectpicker()
        $('#stateselect').val('{{.state}}')
        $('#stateselect').selectpicker("refresh")
        $('#restrictions').selectpicker();
        let dataarray = "{{.restrictions}}".substring(1, "{{.restrictions}}".length - 1).split(" ")
        console.log(dataarray);
        $('#restrictions').val(dataarray)
        $('#restrictions').selectpicker("refresh");
    });
</script>


{{end}}