<!-- Template for editing user information -->

{{ define "content" }}

<style>
    a {
        text-decoration: none !important;
    }
</style>

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <form id="myform" action="/changePassword" method="POST">
                <input type="hidden" name="Email" value="{{.userobj.Email}}">
                <div class="form-group">
                    <label for="oldPass">Current Password</label>
                    <input name="oldPass" class="form-control" id="oldPass" type="password" required>
                </div>
                <div class="form-group">
                    <label for="Password">New Password</label>
                    <input name="Password" class="form-control" id="Password" type="password" required>
                </div>
                <div class="form-group">
                    <label for="confPass">Confirm Password</label>
                    <input name="confPass" class="form-control" id="confPass" type="password" required>
                </div>
                <div id="alert" style="display: none;" class="alert alert-danger" role="alert">
                    Passwords do not match
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" role="button" href="/useredit">Back</a>
                <br>
            </form>
        </div>
    </div>
</div>

<script>
    $('#myform').bind('submit', function (e) {
        e.preventDefault()
        let p1 = $("#Password").val()
        let p2 = $("#confPass").val()

        if (p1 === p2) {
            this.submit()
        }
        else {
            console.log(p1)
            console.log(p2)
            $("#alert").attr("style", "display=block")
        }
    })
</script>

{{end}}