{{ define "content" }}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script type="text/javascript">
    document.getElementById("navbarImage").setAttribute("src", location.origin + "/js/large_chefcart.png")
</script>
<style>
    a {
        text-decoration: none !important;
    }
</style>
<div class="container-fluid" id="pantryDiv">

    <groceryresults></groceryresults>

</div>

<script>
    let id = "{{.id}}"
</script>

<script id="groceryListScript" type="text/javascript" src="../../js/dist/groceryResults.js"></script>

<script id="sortTableScript" type="text/javascript" src="../../js/sortTable.js"></script>

<script>
    document.getElementById("sortTableScript").setAttribute("src", location.origin + "/js/sortTable.js")
    document.getElementById("groceryListScript").setAttribute("src", location.origin + "/js/dist/groceryResults.js")
</script>
{{end}}